body {
    width: 300px;
    border: 400px solid rgb(0, 0, 0);
    padding: 0px;
    margin: 100px;
    background-color: rgb(248, 240, 240);
    text-align:center;
    margin: auto;
    b:center;
  }